local.properties
/.gradle
/build
/.idea/assetWizardSettings.xml
/shelf/
/workspace.xml
/jarRepositories.xml
/gr
/.idea/callwarden.iml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/runConfigurations.xml
/app/release/*
/.idea/
