/build
/free/release/output-metadata.json
/plus/release/ramicall-1.64-plus-release.apk
/plus/release/baselineProfiles/0/ramicall-1.64-plus-release.dm
/plus/release/baselineProfiles/1/ramicall-1.64-plus-release.dm
/free/release/ramicall-1.65-free-release.aab
/free/release/ramicall-1.65-free-release.apk
/free/release/baselineProfiles/0/ramicall-1.65-free-release.dm
/free/release/baselineProfiles/1/ramicall-1.65-free-release.dm
