<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Only included on Android 14+ (API 34+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" tools:targetApi="34"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="33"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- For Android 12 (API 31-32) -->
    <uses-permission
            android:name="android.permission.SCHEDULE_EXACT_ALARM"
            tools:targetApi="31" />
    <!-- For Android 13+ (API 33+) -->
    <uses-permission
            android:name="android.permission.USE_EXACT_ALARM"
            tools:targetApi="33" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:usesCleartextTraffic="true"
            android:theme="@style/Theme.MyApplication">

        <meta-data
                android:name="io.sentry.dsn"
                android:value="https://45b054736dbf4d1a9c7e8b3903afaca2@o1174084.ingest.sentry.io/6269826"/>

        <activity
                android:name=".ui.activity.LoginActivity"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
                android:name=".ui.activity.NotificationActivity"
                android:launchMode="singleTop"
                android:enabled="true"
                android:noHistory="true"
                android:exported="true">
        </activity>
        <activity
                android:name=".ui.activity.MainActivity"
                android:enabled="true"
                android:noHistory="true"
                android:exported="true">
        </activity>
        <activity
                android:name=".ui.activity.AnalyticsActivity"
                android:exported="true"/>
        <activity
                android:name=".ui.activity.SettingsActivity"
                android:exported="true"/>

        <service
                android:name=".service.BackgroundCallService"
                android:enabled="true"
                android:exported="false"/>
        <meta-data
                android:name="io.sentry.traces.sample-rate"
                android:value="1.0"/>

        <!-- Updated to handle Android 12+ compatibility -->
        <receiver android:name=".NotificationReceiver"
                  android:exported="true"/>

        <receiver
                android:name=".service.PhoneStateReceiver"
                android:enabled="true"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".service.BootReceiver"
                android:exported="true"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </receiver>


        <service
                android:name=".service.IncomingCallInfoService"
                android:exported="false"/>

        <service
                android:name=".MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- WorkManager's foreground service with dataSync type for Android 14+ (API 34+)-->
        <service
                android:name="androidx.work.impl.foreground.SystemForegroundService"
                android:foregroundServiceType="dataSync"
                android:exported="false" tools:targetApi="34"/>

        <!-- Disable the default WorkManager initialization since we're using on-demand initialization -->
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <meta-data
                    android:name="androidx.work.WorkManagerInitializer"
                    android:value="androidx.startup"
                    tools:node="remove"/>
        </provider>
    </application>

</manifest>
